* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background: var(--color-bg);
}

:root{
	--color-bg: #040C18;
}


.cardHighlight {
	min-height: 100%;
}

/*Capstone 3: Product Page*/
.productCard{
	display: inline-block;
	margin-bottom: 1rem;
}

.productImage{
	height: 160px;
	width: 100px;
}

.viewProductImage{
	width:15rem;
	height: auto;
}

#productCardItem:hover {
	border-color: aliceblue;
	border-width: 4px;
	transition: 200ms;
}

.d-block {
	height: 30rem;
}

.clickableProdCard {
  text-decoration: none;
  color: green;
}

.cartIcon {
	height: 25px;
}

/*.reg-page-bg {
	background-image: url(https://i.pinimg.com/736x/90/04/b3/9004b36f52c1898fdcb4f451028f4f4e.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}*/

/*.content {
	background-color: #305F72;
	background-attachment: scroll;
	height: 100vh;
}*/

/*.reg-page-img{
	: url(https://i.pinimg.com/736x/90/04/b3/
}9004b36f52c1898fdcb4f451028f4f4e.jpg);
	background-repeat: contain;
*/
.reg-page-form{
	background-color: none;
}

/*.reg-page-content {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}
*/

.newProd {
	background-color: #FFFFC0;
}

input[type="text"],input[type="number"], textarea[type="text"]  {
	background-color: white
}

.logo {
	height: 35px;
}

/*Sets the bgcollor @App.js*/
#root{
	background-color: #305F72;
}

.prod-list-btn {
	background-color: green;
}

.push, .prod-list-btn{
	background-color: none;

}

/*AppNavbarAdmin, AppNavbarNotAdmin {
	background-color: rgba(255, 0, 0, 0.3);
}
*/
nav {
		background-color: rgba(0,0,0,0.3);
		padding-left: 3em ;
		box-shadow: 2px 2px;
}

 #basic-navbar-nav, .burger-button{
	padding-left: 2rem;
	padding-right: 1rem;
	margin-right: 1rem;
}

.welcome-user, .navbar-brand {
	padding-left: 2rem;
}

.feat {
	width: 100%;
	height: auto;
	image-resolution: from-image;
}

#details {
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	font-family: Roboto;
	font-weight: bold;
	background-color: #FFAD4A;
}

#title {
	font-size: 15px;
	font-family: Roboto ;
	font-weight: bold;
	color: slategrey;
	position: absolute;
	top: 11rem;
	right: 0rem;
}

#price {
	font-size:12px;
	font-family: Roboto;
	font-weight: 700;
	color: orangered;
	position: absolute;
	bottom: 3rem;
	right: 4.7rem;
}

.viewProduct {
	height: 20rem;

}


.viewProductLogin{
	position: absolute;
	bottom: 1rem;
	right: 4rem;
	padding-block: 5px;
	color: white;
	font-weight: bold;
	background-color: #FFAD4A;
	border-radius: 5px;
}

.viewProdPriceAndSold{
	position: absolute;
	bottom: 3rem;
}

.viewProdImg{
	width: 90%;
	height: auto;
}
.viewProdContainer{
	border-radius: 10px;
	box-shadow: 0 0 2rem 0.5rem;
}

.shopNow {
	background-color: #FFAD4A;
	padding-block: 10px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.buyNow, .addToCart {
	margin-left: 0rem;
	background-color: #FFAD4A;
	padding-block: 5px;
	border-radius: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border: none}

.viewProdName {
	font-size: 25px;
	font-family: Roboto ;
	font-weight: bold;
}

.viewProdDesc {
	font-size: 15px;
	font-family: Roboto ;
	font-weight: bold;	
}

.viewProdPrice {
	font-size:15px;
	font-family: Roboto;
	font-weight: bold;
	color: orangered;
}

.viewProdSold {
	font-size:15px;
	font-family: monospace;
	font-weight: bold;
	color: slategrey;
}

.qty-btn{
	width: 2rem;
	padding: 0rem;
	border: none;
}


